html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* sets base font size to 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem;
}

h1 {
  font-size: 7rem;
  margin-bottom: 6rem;
}

.gridContainer {
  height: 50.2rem;
  width: 50.2rem;
  margin: 0 auto;
  border: 0.5px solid #141414;
  box-shadow: 0 0 5px 5px #141414;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

/* menu */

.menu {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

button {
  display: block;
  padding: 1rem 2rem;
  border: 0.5px solid #141414;
  box-shadow: 0 0 5px 5px #141414;
  border-radius: 10px;
  transition: transform 0.2s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.active {
  background: black;
  color: white;
}

/* slider */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25rem;
  margin: 0 auto;
}

.sliderText {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #a4a4a4;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

footer {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

img {
  width: 2.5rem;
  margin: 0 1rem;
}

img:hover {
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch .input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.input:checked + .toggle {
  background-color: #04aa6d;
}

.input:focus + .toggle {
  box-shadow: 0 0 1px #a4a4a4;
}

.input:checked + .toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.toggle.round {
  border-radius: 34px;
}

.toggle.round:before {
  border-radius: 50%;
}

.toggleText {
  font-size: 2rem;
}

.switchSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
